.gx-tree-layer-actions {
	float: right;
}
.gx-tree-layer-action {
	background-position: center center;
	background-repeat: no-repeat;
	border: 0 none;
	height: 16px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 16px;
}
.gx-tree-layer-actions .delete {
	background: transparent url(../js2/GeoExt/resources/images/default/delete.png);
}
.gx-tree-layer-actions .metadata {
	background: transparent url(../js2/GeoExt/resources/images/default/metadata.png);
}
.gx-tree-layer-actions .disabled {
	opacity: 0.2;
}
.x-tree-node-el {
	border-bottom: 1px solid #ddd;
}
.x-tree-no-lines .x-tree-elbow, .x-tree-no-lines .x-tree-elbow-end, .x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .gx-tree-layer-icon {
	width: 0px;!important;
}
