<!DOCTYPE html>

#parse ($init)

<html class="#language("lang.dir")" dir="#language("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>
	<link type="text/css" rel="stylesheet" href="/ace-theme/css/jquery.qtip.min.css" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="/ace-theme/js/jquery.qtip.min.js"></script>
	$theme.include($top_head_include)
	
	#if($is_signed_in)
	<style type="text/css">
		.portlet-title-text {
    		cursor: pointer;
		}
	</style>
	#end
	<style type="text/css">
              #heading .logo{background:url($company_logo) no-repeat;display:block;font-size:0;height:88px;text-indent:-9999em;width:600px;}
	</style>
	
</head>

<body class="$css_class">

#if($is_signed_in)
	#dockbar()
#end

<div id="wrapper">
	<a href="#main-content" id="skip-to-content">#language("skip-to-content")</a>

	<header id="banner" role="banner">
		<hgroup id="heading">
			<h1 class="company-title">
				<a class="logo" href="$company_url" title="#language("go-to") $company_name">
					<span>$company_name</span>
				</a>
			</h1>
			<div id="header-menu">
                <ul>
					#if(!$is_signed_in)
						<li id="signin"><a href="$sign_in_url" id="sign-in" rel="nofollow">$sign_in_text</a></li>
					#end
					#if($is_signed_in)
						<li id="maintain"><a href="/maintain">Maintain</a></li>
					#end
                    <li id="glossary"><a href="/glossary">Glossary</a></li>
					<li id="contact"><a href="/contact">Contact</a></li>
					<li id="sitemap"><a href="/sitemap">Sitemap</a></li>
                    <li id="legal-notice"><a href="http://ec.europa.eu/geninfo/legal_notices_en.htm">Legal notice</a></li>
					<li id="about"><a href="/about">About</a></li>
                                        <li id="multimedia"><a href="/multimedia">Multimedia</a></li>
                </ul>
            </div>
            
            <div id="searchbox">
            	<p id="search-title">Search the website</p>
            	<span>$theme.journalContentSearch()</span>
			</div>

			<h2 class="community-title">
				<a href="$community_default_url" title="#language("go-to") $community_name">
					<span>$community_name</span>
				</a>
			</h2>

			<h3 class="page-title">
				<span>$the_title</span>
			</h3>
		</hgroup>

		#if ($update_available_url)
			<div class="popup-alert-notice">
				<a class="update-available" href="$update_available_url">#language("updates-are-available-for-liferay")</a>
			</div>
		#end

		#if ($has_navigation)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>

	<div id="content">
		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>

	<footer id="footer" role="contentinfo">
		<div class="container">
            <a href="http://ec.europa.eu/" target="_blank"><img src="/ace-theme/images/logo_eu.jpg" alt="European Commission logo" style="margin-bottom: 3px" /><div>European Commission</div></a>
			<a href="http://www.eea.europa.eu/" target="_blank"><img src="/ace-theme/images/logo_eea.png" style="width: 52px; margin-top: 4px" alt="EEA logo" /><div>European Environment Agency</div></a>
        </div>
	</footer>
</div>

</body>

$theme.include($bottom_include)

</html>
