
#acesearch_container {
    font-size: 1.2em;
    background-color: #ffffff;
}

#acesearch_container h1 {
    font-size: 1.4em;
}

#acesearch_container h2 {
    font-size: 1.1em;
}

#acesearch_container ul {
    list-style-type: none;
}

#acesearch_container li {
    margin-bottom: 10px;
}


#acesearch_container a:link {color:#000000;}      /* unvisited link */
#acesearch_container a:visited {color:#000000;}  /* visited link */
#acesearch_container a:hover {color:#000000;}  /* mouse over link */
#acesearch_container a:active {color:#000000;}  /* selected link */


/* Search column rules */
#acesearch_column {
    background-color: #EEEEEE;
    padding: 15px;
	float:left;
	width:45%;
}

#acesearch_column span.column {
    width: 200px;
}

#acesearch_column div.row {
    clear: both;
    padding-top: 5px;
}

#acesearch_column div.row label.input {
    float: left;
    width: 180px;
    text-align: left;
}

#acesearch_column div.row label.input_small {
    float: left;
    width: 90px;
    text-align: left;
}

#acesearch_column .expanded_section {
    background: url(../images/icons/minus.png) left center no-repeat;
}

#acesearch_column .collapsed_section {
    background: url(../images/icons/plus.png) left center no-repeat;
}

#acesearch_column a {
    font-size: 1.1em;
    padding-left: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    height: 20px;
}

#searchresultstitle {
	color:#808080;
}

.resultfooter {
	color:#d3d3d3;
	margin-top:20px;
}

.resultsGroupTitle {
	background-color:#d3d3d3;
	margin:5px 0px 0px 0px;
	padding:5px;
	font-size:1.2em;
    font-weight: bold;
	cursor:pointer;
}
.bolder {
	font-weight:bolder;
}

.clearer {
	clear:both;
	display:block;
	visibility:hidden;
}

.aceitemlink {
	padding: 0px 3px;
	text-decoration:underline;
}

.aceitemlinkseparator {
	padding: 0px 3px;
}

.searchresult {
	padding:5px;
	background-color:#fff;
}

.pdficon {
	width:30px;
}

.aceitemdate {
	display:inline;
	float:left;
}

.aceitemlinks {
	display:inline;
	float:right;
}

.sortbar {
	background-color:#eeeeee;
	margin:0px;
	padding:10px;
	font-size:1.1em;
	border-bottom:dashed #d3d3d3;
}


#acesearch_column .search_section {
    margin-bottom: 25px;
}

#acesearch_column input.text {
    width: 270px;
}

#acesearch_column input.date {
    width: 100px;
}

/* Checkbox lists */
#acesearch_column .checks_container {
  width:400px;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
  overflow:hidden;
}

#acesearch_column .check{
  float:left;
  width:190px;
}

#range_dates, #specific_date {
    width:400px;
    margin-top: 15px;
    margin-left: 20px;
    display: none;
}

#all_selection_types {
    display: none;
}

#search_results {
	background-color:#fff;
	float:right;
	width:50%;
}

/* Results column rules */
.expandedResultsGroup, .collapsedResultsGroup {
    padding:5px;
}


/* Other */
#form_footer {
    padding: 10px;
    background-color: #C2C2C2;
    text-align: right;
}