@import url(custom_common.css);

@import url(color_schemes/green.css);

@import url(color_schemes/orange.css);

/* ---------- Base styles ---------- */

body {
	background: #CCCCCC;
	font-family: Tahoma, Times New Roman, serif;
	font-size: 12px;
}

a {
	color: #02213D;
	font-weight: normal;
	text-decoration: underline;
}

a:hover {
	color: #a5bf26;
	text-decoration: none;
}

a.double-arrow {
	background: url("/ace-theme/images/arrow_blue.png") no-repeat left center;
	padding-left: 14px;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

#dockbar {
	min-width: 984px;
}

#wrapper {
	background: none repeat scroll 0 0 #FFF;
	margin: 0 auto;
	max-width: 984px;
	position: relative;
}

.ie6 #wrapper {
	width: 90%;
}

#banner {
	background: none;
	height: auto;
}

#banner .company-title {
	float: none;
	margin: 0;
	position: static;
}

body #banner .logo a {
	float: left;
}

.current-community {
	display: none;
}

.logo .current-community {
	background: #A6AFBE url(../images/dock/my_places_public.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	padding: 7px 17px 7px 40px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#skip-to-content:focus {
	clip: auto;
	right: 0;
	z-index: 200;
}

#sign-in {
	background: url(../images/common/key.png) no-repeat 3px 50%;
	padding-left: 25px;
}

.guest-community .logo .current-community {
	display: none;
}

.private-page .logo .current-community {
	background-image: url(../images/dock/my_places_private.png);
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}

/* ---------- Main navigation ---------- */

#navigation {
	background: #a5bf26;
	clear: both;
	margin-top: 3px;
	position: relative;
	z-index: 1;
}

#navigation ul {
	list-style: none;
	margin: 0;
}

.ie7 #navigation ul {
	margin-left: 3px;
}

#navigation li, #navigation a {
	display: inline-block;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

#navigation li {
	line-height: 29px;
	position: relative;
	vertical-align: middle;
}

#navigation li.first {
	margin-left: 4px;
}

#navigation a {
	color: #000;
	font-size: 1.1em;
	padding: 0 7px;
	text-decoration: none;
}

.ie7 #navigation a {
	padding: 0 7px;
}

#navigation .aui-dd-drop a {
	cursor: move;
}

#navigation .selected {
	background-color: #e9efc9;
	border-left: 1px solid #758816;
	border-right: 1px solid #758816;
	border-top: 1px solid #758816;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	height: 26px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px; 
	top:3px 
}

#navigation .selected a {
	color: #000;
	position: relative;
	top: -5px;
}

#navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .aui-dd-dragging, .lfr-navigation-proxy {
	color: #FFF;
	outline: 0;
}

#navigation .child-menu li a {
	background: none;
	color: #555;
	text-shadow: none;
}

#navigation li:hover .child-menu {
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu {
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu, .ie7 #navigation li:hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover {
	color: #000;
}

#navigation .child-menu .selected a {
	color: #000;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	margin: 0 0 27px;
	text-align: left;
}

.portlet-topper {
	font-size: 1.818em;
}

.portlet-title {
	color: #67788a;
	float: none;
	font-size: 20px;
	font-weight: normal;
	line-height: 20px;
	min-width: 50%;
	padding: 0 0 15px 0;
}

.portlet-content, .portlet-minimized .portlet-content-container {
	padding: 0;
}

.portlet-body {
	color: #02213d;
	font-family: arial,serif;
	line-height: 1.364em;
}


.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

.taglib-header {
	color: #2c330a;
}

.content-11px {
	font-size: 11px;
}

/* ---------- Footer ---------- */

#footer {
	border-top: 2px solid #D7E3EF;
	height: 100px;
	margin-top: 15px;
}

#footer .container {
	display: block;
	margin-top: 15px;
	position: absolute;
	left: 292px;
	text-align: center;
}

.ie7 #footer .container {
	right: 34%;
}

#footer a {
	float: left;
	margin-bottom: 15px;
	text-decoration: none;
	width: 200px;
}

/* ---------- Hudcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;
}

.lfr-hudcrumbs ul {
	background: #414445;
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.logo .current-community {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/**** Heading *****/

#heading {
	background-image: url("/ace-theme/images/bg_banner.jpg");
}

#heading .logo {
	margin-left: 63px;
}

/***** Header menu *****/

#header-menu {
	background-image: url("/ace-theme/images/bg_links-tools-ace.png");
	position: absolute;
	right: 0;
	top: 0;
}

.ie7 #header-menu {
	top: 15px;
}

#header-menu ul {
	line-height: 16px;
	margin: 7px 10px 7px 60px;
}

#header-menu li {
	background: url("/ace-theme/images/line_sep_links.gif") no-repeat left center;
	display: inline;
	padding: 0 2px 0 7px;
}

#header-menu li.first {
	background: none;
}

#header-menu a {
	color: #FFF;
	font-size: 0.9em;
	text-decoration: none;
}

#header-menu a:hover {
	color: #a5bf26;
}

#header-menu li#twitter a {
	background: url("/ace-theme/images/twitter.png") no-repeat;
	padding: 1px 0 2px 20px;
}

#header-menu li#rss a {
	background: url("/ace-theme/images/rss.png") no-repeat;
	padding: 0 0 2px 20px;
}

/**** Search box in header ****/

#searchbox {
	position: absolute;
	right: 10px;
	top: 50px;
}

#search-title {
	color: #FFF;
	float: left;
	padding: 4px 10px 0 0;
}

#p_p_id_simplesearchportlet_WAR_AceSearchportlet_INSTANCE_0oHV_ {
	float: left;
}

#searchbox .portlet-topper {
	display: none;
}

.ie7 #searchbox {
	top: 65px;
}

#searchbox select {
	display: none;
}

#searchbox .portlet-content img {
	position: relative;
	top: 4px;
}

#searchbox .portlet-content img:hover {
	cursor: pointer;
}

/**** Second level menu ****/

#sec-menu {
	padding: 0;
}

#sec-menu a#p_71_INSTANCE_9VDq {
	margin: 0;
	padding: 0;
}

#sec-menu ul {
	background-color: #e9efc9;
	border-top: 1px solid #758816;
	border-bottom: 1px solid #758816;
	margin: 0;
	padding: 5px;
}

#sec-menu li {
	display: inline;
	padding: 2px;
}

#sec-menu li.last {
	background:none;
}

#sec-menu a {
	color: #758816;
	font: normal 11px Tahoma,serif;
	margin: 0 2px;
	padding: 2px;
	text-decoration: none;
}

#sec-menu a:hover,
#sec-menu .selected {
	color: #2c330a;
}

#sec-menu .portlet-borderless-bar {
	display: none;
}

/**** General styles Ace Layouts ****/

.ace_layout_2 #column-1,
.ace_layout_2 #column-2,
.ace_layout_2 #column-3,
.ace_layout_3 #column-1,
.ace_layout_3 #column-2,
.ace_layout_3 #column-3,
.ace_layout_3 #column-4 {
	display: inline-block;
	float: left;
}

.ace_layout_2 #column-3,
.ace_layout_3 #column-4 {
	float: right;
}

.ace_layout_1 #layout-column_column-3,
.ace_layout_1 #layout-column_column-4,
.ace_layout_1 #layout-column_column-5,
.ace_layout_3 #layout-column_column-2,
.ace_layout_3 #layout-column_column-3,
.ace_layout_3 #layout-column_column-4 {
	padding: 0 15px;
}

.ace_layout_1 #layout-column_column-5 {
	padding: 0 15px;
}

.ace_layout_1 #layout-column_column-3,
.ace_layout_3 #layout-column_column-2 {
	
}

.ace_layout_1 #layout-column_column-4,
.ace_layout_1 #layout-column_column-5,
.ace_layout_3 #layout-column_column-3,
.ace_layout_3 #layout-column_column-4 {
	border-left: #d7e3ef 2px solid;
	min-height: 275px;
}

.ace_layout_3 #column-4 {
	width: 33%;
}

/**** Ace Layout 3 ****/

.ace_layout_3 #layout-column_column-1 {
	margin-top: -15px;
	padding: 0 2px 27px 0;
}

.ie7 .ace_layout_3 #layout-column_column-1 {
	margin-top: 0;
}

.ace_layout_3 #column-5 {
	background-color: #d2de92;
}

.ace_layout_3 #layout-column_column-5 {
	padding: 27px 19px;
}

.ace_layout_3 #layout-column_column-5 .portlet-title {
	color: #758816;
}

/**** Ace Layout 4 ****/

.ace_layout_4 #column-1 .portlet-column-content {
	padding: 0 15px;
}

.ace_layout_4 #column-2 {
	background-color: #d2de92;
}

.ace_layout_4 #column-2 {
	padding: 27px 19px;
}

.ace_layout_4 #column-2 .portlet-title {
	color: #758816;
}

/**** Template Sector Main Article ****/

.sector-main-article {
	padding: 0;
}

.sector-main-article .image {
	float: left;
	height: 240px;
	width: 0;
}

.sector-main-article .text-container, 
.sector-main-article .filter-container {
	left: 245px;
	position: absolute;
	width: auto;
}
		
.sector-main-article .text-container {
	background: url("../images/bg_sector_main_article_text.png") repeat-y scroll 5% center;
	margin-bottom: 20px;
	margin-right: 245px;
	min-height: 240px;
	position: relative;
}

.ie7 .sector-main-article .text-container {
	margin-bottom: 80px;
}

.sector-main-article .filter-container {
	background: url("../images/bg_sector_main_article_filter.png") repeat-y scroll 5% center;
	height: 40px;
	right: 0;
	top: 0;
}

.sector-main-article .filter-options {
	float: right;
	margin: 10px 17px;
}

.sector-main-article .title {
	margin: 15px 17px;
}

.sector-main-article h1 {
	font: normal 26px Tahoma, Times New Roman, serif;
	margin: 15px 0;
	padding: 10px 0 0;
}

.sector-main-article .body {
	margin: 0 17px;
}

.sector-main-article #read-more-link {
	background-color: #AFC7DF;
	line-height: 30px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 240px;
	width: 80px;
}

.sector-main-article #read-more-link a:hover {
	color: #FFF;
}

.sector-main-article .read-more-body {
	margin: 45px 17px 0 15px;
}

/**** Template for Research Project ****/

.project-description .intro {
	height: 150px;
}

.project-description .image {
	float: left;
	line-height: 13.636em;
}

.project-description .image img {
	vertical-align: middle;
} 

.project-description .title-container {
	margin: 30px 15px 20px 170px;
	position: absolute;
	width: 79%;
}

.ie7 .project-description .title-container {
	margin-left: 20px;
}

.project-description .title-container h1{
	color: #02213d;
	font-family: Tahoma, Times New Roman, serif;
	font-size: 26px;
	font-weight: normal;
	margin-bottom: 15px;
}

.project-description .title-container .subtitle {
	color: #02213d;
	font-family: Tahoma, Times New Roman, serif;
	font-size: 13px;
	font-weight: normal;
}

.project-description .text-container {
	margin-top: 25px;
}

.project-description .text-container .ui-state-active a {
	color: #02213d;
	font-size: 13px;
	font-weight: bold;
}

.project-description .text-container .ui-corner-top,
.project-description .text-container .ui-corner-bottom,
.project-description .text-container .ui-corner-all {
	border-radius: 0px;
}

.project-description .text-container table {
	font-size: 11px;	
}

.project-description .text-container tr {
	border-bottom: 2px solid #FFF;
	line-height: 22px;
}

.project-description .text-container td {
	border-right: 2px solid #FFF;
	padding: 0 15px;
}

.project-facts,
.project-facts a {
	color: #353f02;
}

.project-facts a:hover {
	color: #FFF;
}

.project-facts .portlet-title {
	padding: 0;
}

.project-facts h3 {
	font-size: 13px;
	margin: 20px 0 5px 0;
}

.project-facts #instrument h3 {
	margin-top: 0;
}

.ie7 .project-facts #instrument h3 {
	margin-top: 15px;
}

.project-facts #contact p {
	margin: 0;
}

.project-facts #project-website {
	margin-top: 20px;
}

/**** Template for the AST pages ****/
.ast #column-1 {
	background-color: #d2df92;
}

.ast #column-1 .portlet-column-content {
	padding: 0;
}

#ast-menu {
	list-style-type: none;
	margin: 0;
	width: 330px
}

#ast-menu li {
	list-style-type: none;
	margin-bottom: 2px;
}

#ast-menu .ui-accordion-li-fix {
	background: url("/ace-theme/images/arrow_ast.png") no-repeat 10px 50% #9AA854;
}

#ast-menu a.ui-state-active {
	background: url('/ace-theme/images/arrow_ast_wit.png') no-repeat 10px 50%;
	color: #FFF
}

#ast-menu li.no-substep a.ui-state-active {
	background: url("/ace-theme/images/arrow_ast.png") no-repeat 10px 50%;
	color: #FFF
}

#ast-menu .ui-accordion-content-active {
	background-color: #E9EFC9;
	margin: 0;
	padding: 10px 5px 5px 20px;
	width: 305px;
}

#ast-menu .ui-accordion-content-active a {
	background: url('/ace-theme/images/arrows/arrow_darkgreen.png') no-repeat 5px 50%;
}

#ast-menu .ui-accordion-content-active p {
	margin:-22px 0 0;
	padding-left:50px; 
}

#ast-menu .ui-accordion-content-active a.active,
#ast-menu .ui-accordion-content-active a:hover {
	background: url('/ace-theme/images/arrows/01_plus.png') no-repeat 5px 50%;
	color: #a5bf26;
}

#ast-menu a {
	color: #2C330A;
	line-height: 22px;
	padding-left: 25px;
	text-decoration: none;
}

#ast-menu a:hover {
	color: #FFF;
}

.ast .astheaderportlet-portlet {
	left: -10px;
	margin-bottom: 15px;
	position: relative;
}

.ast #bottom-column,
.ast #layout-column_column-2 {
	margin-left: 27px;
}

.ast-main-article #read-more-link {
	background-color: #AFC7DF;
	line-height: 30px;
	position: relative;
	left: 545px;
	text-align: center;
	width: 80px;
}

.ast-main-article #read-more-link a:hover {
	color: #FFF;
}

.ast-main-article .read-more-body {
	margin-top: 10px;
}

.ast #column-3 .portlet-column-content {
	padding: 0 15px 0 0;
}

.ast #column-4 .portlet-column-content {
	padding: 0 15px;
}

.ast #layout-column_column-4 {
	border-left: #d7e3ef 2px solid;
	min-height: 100px;
}

.ast #bottom-column ul {
	line-height: 24px;
	list-style-image: url('/ace-theme/images/arrows/01_plus.png');
	margin-top: 0;
}

.ast #bottom-column a {
	color: #758816;
	text-decoration: none;
}

/**** Specific styles for adaptation information image and text on frontpage ****/

#p_p_id_56_INSTANCE_7vIW_ {
	margin-top: 10px;
}

#p_p_id_56_INSTANCE_7vIW_ h1 {
	color: #02213D;
	font-size: 26px;
}

.image-ai-fp .portlet-body {
	margin: -10px 0 15px 0;
}

.ie #p_p_id_56_INSTANCE_7vIW_ {
	margin-top: 5px;
}

.image-ai-fp {
	margin-right: -15px;
}

.ie .image-ai-fp .portlet-body {
	margin: -15px 0px 15px
}

.more-spacing-list li {
	line-height: 20px;
}


/**** Styles modified from originally ace-theme/docroot/css/custom_common.css ****/

.logo .current-community, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/**** Styles for adjusting the display of RSS feeds ****/

.portlet-rss .feed {
	padding: 0;
}

.portlet-rss .feed-entry-expander {
	padding-top: 1px;
}

.portlet-rss .feed-entry {
	font-size: 11px;
}

.portlet-rss .feed-entry-content img {
	max-width: 100%
}

.portlet-rss .feed-entry-title {
	padding-left: 21px;
}

.portlet-rss .feed-entry-title a {
	text-decoration: none;
}

span.opens-new-window-accessible,
.lfr-menu-list .portlet-refresh {
	display: none;
}

.multimedia .feed-entry {
	font-size: 12px;
}

/** Additional styling for the FilterAceItemPortlet
    add class indicators to the desired portlet in 
    order to use the styles below
**/
.indicators #filter_results {
	padding-left: 18px;
}

.indicators .plus,
.indicators .minus {
	margin-left: -18px;
}

.indicators a {
	color: #02213D;
	text-decoration: none;
}

.indicators a:hover {
	color: #a5bf26;
	text-decoration: none;
}

/**** Styling of the search and discover page ****/
#acesearch_container {
	overflow: hidden;
	width: 100%;
}

#acesearch_container .search_section {
	color: #353f02;
	margin: 0;
}

/**** Styling of the similar areas tool 
The SAT does NOT have a seperate layout template. 
To retrieve the appropiate styling is it therefore
necessary to add the class sat-text to the instruction 
text and the class sat-map to the SimilarAreasToolPortlet.
****/
.sat-text {
	background-color: #D2DE92;
	margin-top: -20px
}

.sat-text .portlet-topper {
	padding: 15px 15px 0;
}

.sat-text .portlet-title {
	color: #758816;
}

.sat-text .portlet-content {
	padding:0 15px;
}

.sat-text .portlet-content p {
	color: #353F02;
}

.sat-text,
.sat-map #legend_element {
	float: right;
	width: 269px;
}

.sat-map {
	margin-top: -20px;
	width: 700px;
}

.sat-map #locations_element {
	height: 40px;
	margin-bottom: 10px;
	overflow: auto;
	width: 190px;
}

.sat-map #map_element {
	height: 350px;
	width: 670px;
}

.sat-map form {
	clear: both;
	float:right;
	margin-right: 25px;
}

.sat-map #risk-select {
	margin-top: -305px;
}

.sat-map #risk-select label {
	padding-right: 25px;
}

.sat-map #risk-select select {
	width: 175px;
}

.sat-map #sector-select {
	margin-top: -278px;
}

.sat-map #sector-select label {
	padding-right: 3px;
}

.sat-map #sector-select select {
	width: 175px;
}

.sat-map #legend_element {
	background-color: #D2DE92;
	color: #353F02;
	margin: -165px -254px 0 0;
	padding: 15px 0 0; 
}

#legend-title {
	color: #758816;
	font-size: 14px;
	padding-left: 15px;
}

/** adjustment of legend items **/
.sat-map #ext-comp-1002 {
	padding-left: 15px
}

.sat-map #ext-comp-1003 {
	display: none;
	/*clear: both;
	float: left;
	margin-bottom: 5px;*/
}

.sat-map #ext-comp-1004 {
	display: none;
	/*clear: both;
	float: left;*/
}

.sat-map #ext-comp-1005 {
	left: -167px;
}

.sat-map #ext-comp-1007 {
	left: -195px;
}

.sat-map #ext-comp-1009 {
	left: -88px;
}

.sat-map #ext-comp-1011 {
	left: -95px;
}

.sat-map #ext-comp-1005,
.sat-map #ext-comp-1007,
.sat-map #ext-comp-1009,
.sat-map #ext-comp-1011 {
	clear: both;
	float:right;
	margin-bottom: 10px;
	position:relative;
	top:2px;
}

/**** Styling for the transnational pages
Entry page
The entry does NOT have a seperate layout template. 
To retrieve the appropiate styling is it therefore
necessary to add the class sector-main-article to the
main article and the class transnational-search to
the search column.
****/
.transnational-search {
	background-color: #D2DF92;
	margin-top: 15px;
	padding: 15px;
}

.transnational-search .portlet-title,
.transnationalregion #column-3 .portlet-title {
	color: #758816;
}

.transnationalregion .region-list select {
	width: 145px;
}

.transnationalregion #column-2 {
	background: url("../images/bg_sector_main_article_text.png") repeat-y scroll 5% center transparent;
	padding: 15px;
}

.transnationalregion #column-2 .portlet-title {
	color: 	#02213D;
	padding-bottom:5px
}

.transnationalregion #column-2 .title {
	font-size:13px
}

.transnationalregion #assessments {
	margin-top:20px;
}
                            
.transnationalregion #column-3 {
	background-color: #D2DF92;
	padding: 15px;
}

/****
   Styling for the national pages
   it uses the layout template transnational region, however slightly
   different web content templates
****/
.transnationalregion .countries-list select {
	width: 147px;
}

.transnationalregion #tabs {
	margin-top: 15px;
}

.transnationalregion .ui-widget-header {
	background: none;
	border: none;
	border-bottom: 1px solid #AAAAAA;
}

.transnationalregion .ui-state-active a,
.transnationalregion .ui-state-active a:link,
.transnationalregion .ui-state-active a:visited {
	color: #02213D;
}

.transnationalregion .ui-widget-content {
	background: none;
	border: none;
}

.transnationalregion .ui-corner-top {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.transnationalregion .ui-corner-all {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/**** Styling of the map viewer 
The Map Viewer does NOT have a seperate layout template. 
To retrieve the appropiate styling is it therefore
necessary to add the class sat-text to the instruction 
text and the class mapviewer to the MapViewerPortlet.
****/
.mapviewer #legend_element,
.mapviewer #toc_element {
	float: right;
	width: 269px;
}

.mapviewer {
	margin-top: -20px;
	width: 700px;
}

.mapviewer #locations_element {
	height: 40px;
	margin-bottom: 10px;
	overflow: auto;
	width: 190px;
}

.mapviewer #map_element {
	height: 350px;
	width: 670px;
}

.mapviewer #toc_element {
	background-color: #D2DE92;
	padding: 0 0 15px 0;
	margin: -425px -254px 0 0;
	min-height: 250px;
}

.mapviewer #toc_element ul { 
	list-style-type: none;
	margin-left: 15px;
}

.mapviewer #toc_element a {
	color: #353F02;
	text-decoration: none;
	cursor: default;
	padding-left: 3px;
}

.mapviewer #toc_element a:hover {
	color: #02213D;
}

.mapviewer #legend_element {
	background-color: #D2DE92;
	color: #353F02;
	margin: -165px -254px 0 0;
	min-height: 150px;
	padding: 15px 0 0; 
}

.mapviewer #legend-title,
.mapviewer #toc-title {
	color: #758816;
	font-size: 14px;
	padding-left: 15px;
}

/** adjustment of legend items **/
.mapviewer #legend_element label {
	padding-left: 15px;
}

.mapviewer #legend_element img {
	clear: both;
	float:left;
	margin-left: 15px;
	margin-bottom: 10px;
	position:relative;
	top:2px;
}

/****
   Styling of the FilterAceItemPortlet
****/
.resultsGroupTitle {
	color: #353f02;
	font-size: 12px;
}

.searchresult {
	color: #000;
	background-color: #E9EFC9;
	border: 1px solid #758816;
}

#filteraceitems_container a {
	color: #000;
	text-decoration: none;
}

#filteraceitems_container a:hover {
	color: #a5bf26;
}

/****
     Adjustment of layout padding styles because of grey background 
****/
.portlet-column-content-only, .ltr .portlet-column-content-last, .rtl .portlet-column-content-first {
	padding-right: 15px;
}

.portlet-column-content-only, .ltr .portlet-column-content-first, .rtl .portlet-column-content-last {
	padding-left: 15px;
}