@import url(custom_common.css);

@import url(color_schemes/green.css);

@import url(color_schemes/orange.css);

/* ---------- Base styles ---------- */

body {
	background: #FFF;
	font-family: Tahoma, Times New Roman, serif;
	font-size: 11px;
}

a {
	color: #02213D;
	font-weight: normal;
	text-decoration: underline;
}

a:hover {
	color: #a5bf26;
	text-decoration: none;
}

hr, .separator {
	border-color: #BFBFBF transparent #FFF;
	border-style: solid;
	border-width: 1px 0;
}

#dockbar {
	min-width: 984px;
}

#wrapper {
	background: none;
	margin: 0 auto;
	max-width: 90%;
	min-width: 984px;
	position: relative;
}

.ie6 #wrapper {
	width: 90%;
}

#banner {
	background: none;
	height: auto;
}

#banner .company-title {
	float: none;
	margin: 15px 0 0;
	position: static;
}

body #banner .logo a {
	float: left;
}

.current-community {
	display: none;
}

.logo .current-community {
	background: #A6AFBE url(../images/dock/my_places_public.png) no-repeat 15px 50%;
	color: #FFF;
	display: block;
	float: right;
	font-size: 0.8em;
	font-weight: bold;
	margin: 15px 0 0 20px;
	padding: 7px 17px 7px 40px;
	text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

#skip-to-content:focus {
	clip: auto;
	right: 0;
	z-index: 200;
}

#sign-in {
	background: url(../images/common/key.png) no-repeat 3px 50%;
	padding-left: 25px;
}

.guest-community .logo .current-community {
	display: none;
}

.private-page .logo .current-community {
	background-image: url(../images/dock/my_places_private.png);
}

.ie6 #banner {
	height: 1%;
}

.ie6 #banner h1.logo {
	height: 1%;
}

/* ---------- Main navigation ---------- */

#navigation {
	background: #a5bf26;
	clear: both;
	margin: 3px auto;
	min-height: 2.2em;
	position: relative;
	z-index: 1;
}

#navigation ul {
	list-style: none;
	margin: 0;
	padding: 6px;
}

.ie7 #navigation ul {
	margin-left: 3px;
	padding: 0 2px 2px 2px;
	min-height: 2.3em;
}

#navigation li, #navigation a {
	display: inline-block;
}

.ie6 #navigation li, .ie7 #navigation li, .ie6 #navigation a, .ie7 #navigation a {
	display: inline;
	zoom: 1;
	z-index: 200;
}

.ie7 #navigation li {
	line-height: 29px;
}

#navigation li {
	background: url("/ace-theme/images/line_sep_main_menu.png") no-repeat right center;
	margin-left: -2px;
	position: relative;
	vertical-align: middle;
}

#navigation li.last {
	background: none;
}

#navigation a {
	color: #000;
	font-size: 1.2em;
	padding: 0 7px;
	text-decoration: none;
}

.ie7 #navigation a {
	padding: 0 7px;
}

#navigation .aui-dd-drop a {
	cursor: move;
}

#navigation .selected a, #navigation a:hover, #navigation a:focus, #navigation .child-menu li a, #navigation .aui-dd-dragging, .lfr-navigation-proxy {
	color: #FFF;
	outline: 0;
}

#navigation .child-menu li a {
	background: none;
	color: #555;
	text-shadow: none;
}

#navigation li:hover .child-menu {
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu {
	display: block;
	position: absolute;
	width: 200px;
	z-index: 200;
}

.ie6 #navigation li.hover .child-menu, .ie7 #navigation li:hover ul.child-menu {
	left: 0;
	top: 25px;
}

#navigation .child-menu {
	display: none;
}

#navigation .child-menu li {
	border-width: 0 0 1px;
	display: block;
	float: none;
	margin: 0;
}

#navigation .child-menu li a {
	cursor: pointer !important;
}

.ie7 #navigation .child-menu li a {
	zoom: 1;
}

#navigation .child-menu li a:hover {
	color: #000;
}

#navigation .child-menu .selected a {
	color: #000;
}

/* ---------- Portlet wrapper and icons ---------- */

.portlet {
	margin: 0 0 27px;
	text-align: left;
}

.portlet-topper {
	font-size: 1.818em;
}

.portlet-title {
	color: #67788a;
	float: none;
	font-weight: normal;
	line-height: 20px;
	min-width: 50%;
	padding: 0 0 15px 0;
}

.portlet-content, .portlet-minimized .portlet-content-container {
	padding: 0;
}

.portlet-body {
	color: #02213d;
	font-family: arial,serif;
	line-height: 1.364em;
}


.lfr-portlet-title-editable {
	margin-top: -4px;
	z-index: 9999;
}

.ie .lfr-portlet-title-editable {
	margin-top: -6px;
}

.lfr-portlet-title-editable-content {
	padding: 0;
}

.ie .lfr-portlet-title-editable-content {
	margin-top: 4px;
}

.portlet-icons {
	float: none;
}

.portlet-icons .portlet-close-icon {
	border-width: 0;
}

.page-maximized .portlet-icons {
	font-size: 11px;
}

.portlet-icon-back {
}

.ie .portlet-title {
	padding-bottom: 5px;
}

.ie6 .portlet-topper {
	zoom: 1;
}

.taglib-header {
	color: #2c330a;
}

/* ---------- Footer ---------- */

#footer {
	text-align: right;
}

/* ---------- Hudcrumbs ---------- */

.lfr-hudcrumbs {
	position: fixed;
	top: 0;
	z-index: 200;
}

.lfr-hudcrumbs ul {
	background: #414445;
	background: rgba(0, 0, 0, 0.8);
}

.lfr-hudcrumbs .breadcrumbs li a, .lfr-hudcrumbs .breadcrumbs li span {
	color: #FFF;
}

.lfr-hudcrumbs li span {
	background-image: url(../images/common/breadcrumbs_hud.png);
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
	background-color: transparent;
}

.aui-combobox .aui-field-input {
	padding: 4px 3px 3px;
	font-size: 11px;
	height: 15px;
}

.aui-combobox .aui-field {
	float: left;
	line-height: 0;
}

.lfr-portlet-title-editable-content .aui-field {
	float: none;
	display: inline;
}

/* ---------- Extras ---------- */

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

.logo .current-community {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

.aui-combobox .aui-toolbar-first {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/**** Heading *****/

#heading {
	background-image: url("/ace-theme/images/bg_banner.jpg");
}

#heading .logo {
	margin-left: 63px;
}

/***** Header menu *****/

#header-menu {
	background-image: url("/ace-theme/images/bg_links-tools-ace.png");
	position: absolute;
	right: 0;
	top: 0;
}

.ie7 #header-menu {
	top: 15px;
}

#header-menu ul {
	margin: 7px 10px 7px 60px;
}

#header-menu li {
	background: url("/ace-theme/images/line_sep_links.gif") no-repeat left center;
	display: inline;
	padding: 0 2px 0 7px;
}

#header-menu li.first {
	background: none;
}

#header-menu a {
	color: #FFF;
	text-decoration: none;
}

#header-menu a:hover {
	color: #a5bf26;
}

#header-menu li#twitter a {
	background: url("/ace-theme/images/twitter.png") no-repeat;
	padding: 1px 0 2px 20px;
}

#header-menu li#rss a {
	background: url("/ace-theme/images/rss.png") no-repeat;
	padding: 0 0 2px 20px;
}

/**** Search box in header ****/

#searchbox {
	position: absolute;
	right: 10px;
	top: 50px;
}

.ie7 #searchbox {
	top: 65px;
}

#searchbox select {
	display: none;
}

/**** Second level menu ****/

#sec-menu {
	padding: 0;
}

#sec-menu a#p_71_INSTANCE_9VDq {
	margin: 0;
	padding: 0;
}

#sec-menu ul {
	margin: 5px 0;
	padding-left: 5px;
}

#sec-menu li {
	background: url("/ace-theme/images/line_sep_sec_menu.png") no-repeat right center;
	display: inline;
	padding: 2px;
}

#sec-menu li.last {
	background:none;
}

#sec-menu a {
	color: #758816;
	font: normal 11px Tahoma,serif;
	margin: 0 2px;
	padding: 2px;
	text-decoration: none;
}

#sec-menu a:hover,
#sec-menu .selected {
	color: #2c330a;
}

#sec-menu .portlet-borderless-bar {
	display: none;
}

/**** General styles Ace Layouts ****/

.ace_layout_2 #column-1,
.ace_layout_2 #column-2,
.ace_layout_2 #column-3,
.ace_layout_3 #column-1,
.ace_layout_3 #column-2,
.ace_layout_3 #column-3,
.ace_layout_3 #column-4 {
	display: inline-block;
	float: left;
}

.ace_layout_2 #column-3,
.ace_layout_3 #column-4 {
	float: right;
}

.ace_layout_1 #layout-column_column-3,
.ace_layout_1 #layout-column_column-4,
.ace_layout_1 #layout-column_column-5,
.ace_layout_3 #layout-column_column-2,
.ace_layout_3 #layout-column_column-3,
.ace_layout_3 #layout-column_column-4 {
	padding: 0 15px;
}

.ace_layout_1 #layout-column_column-4,
.ace_layout_1 #layout-column_column-5,
.ace_layout_3 #layout-column_column-3,
.ace_layout_3 #layout-column_column-4 {
	border-left: #d7e3ef 2px solid;
}

.ace_layout_3 #column-4 {
	width: 33%;
}

/**** Ace Layout 3 ****/

.ace_layout_3 #layout-column_column-1 {
	padding: 0 2px 27px 0;
}

.ace_layout_3 #column-5 {
	background-color: #d2de92;
}

.ace_layout_3 #layout-column_column-5 {
	padding: 27px 19px;
}

.ace_layout_3 #layout-column_column-5 .portlet-title {
	color: #758816;
}

/**** Template Sector Main Article ****/

.sector-main-article {
	height: 240px;
	padding: 0;
}

.sector-main-article .image {
	float: left;
	height: 240px;
	width: 33%;
}

.sector-main-article .text-container, 
.sector-main-article .filter-container {
	left: 245px;
	position: absolute;
	width: auto;
}
		
.sector-main-article .text-container {
	background: url("../images/bg_sector_main_article_text.png") repeat-y scroll left center;
	height: 200px;
	top: 40px;
}

.sector-main-article .filter-container {
	background: url("../images/bg_sector_main_article_filter.png") repeat-y scroll left center;
	height: 40px;
	right: 0;
	top: 0;
}

.sector-main-article .filter-options {
	float: right;
	margin: 10px 17px;
}

.sector-main-article .title {
	margin: 15px 17px;
}

.sector-main-article h1 {
	font: normal 26px Tahoma, Times New Roman, serif;
	margin: 15px 0;
}

.sector-main-article .body {
	margin: 0 17px;
}

/**** Styles modified from originally ace-theme/docroot/css/custom_common.css ****/

.logo .current-community, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/**** Styles for adjusting the display of RSS feeds ****/

.portlet-rss .feed {
	padding: 0;
}

span.opens-new-window-accessible {
	display: none;
}