@media screen {

@import url(base.css);
@import url(application.css);
@import url(layout.css);
@import url(dockbar.css);
@import url(navigation.css);
@import url(portlet.css);
@import url(forms.css);
@import url(extras.css);
@import url(custom.css);

}
/* The style applied at print-time only. */

@media print {

	div#tabs ul.ui-tabs-nav{
		display:none;
	}

	div.countries-list, div.region-list{
		display:none;
	}

	div#header-menu, div#searchbox{
		display:none
	}

	a#skip-to-content{
		display:none;
	}

	#sec-menu, #navigation{
		display:none;
	}

	#footer{
		display:none;
	}

	nav#navigation, nav#sec-menu, hgroup#heading{
		display:none;
	}
}
