#tree ul {
	list-style:none;
	list-style-type:none;
	margin-left:0em;
}

#gn_wmsbrowserpanel ul, #gn_wmsbrowserpanel ul ul {
	list-style:none;
	list-style-type:none;
	margin-left:0em;
}

#adaptationtools-heading {
	padding:20px;
}
#adaptationtools-selectors-top {
	position:relative;
}
.adaptationtools-selector {
	position:absolute;
}
#risks-selector {
	left:100px;
}
#sector-selector {
	right:100px;
}
.info-button {
	width: 15px;
	height:15px;
	background-color:beige;
	padding: 5px 10px;
	display:inline;
	border:1px dotted #CDC0B0;
	font-weight:bolder;
	font-size:larger;
}
#adaptationtools-indicators {
	float:right;
	width:385px;
	margin:20px;
}
#read-more-on-the-approach {
	width:385px;
}
.indicator-category {
	margin: 10px 0px;
}
.indicator-category-title {
	margin-left:10px;
	display: inline;
}
.indicator-category-list {
	padding:5px;
}
.indicator-category-list-item {
	padding:2px 0px;
}
.clickable {
	cursor:pointer;
}
div.map-overlay {
	bottom:0px;
	position:absolute;
	left:0px;
	z-index:1000;
	background-color: #cccccc;
	padding: 2px;
}

#map_container {
	position: relative;
	float:right;
	margin-right:20px;
	margin-top:20px;
}

#map_legend {
	float:right;
	margin-right:20px;
	margin-top:20px;
}