#csst_element {
   width: 968px; 
   height: 968px;
}

.x-help {
	background-image: url(images/help.png) !important;
}

#locate-button {
	clear: none;
}

#help-button {
	clear: none;
}

/**** Styling of the similar areas tool 
The SAT does NOT have a seperate layout template. 
To retrieve the appropiate styling is it therefore
necessary to add the class sat-text to the instruction 
text and the class sat-map to the SimilarAreasToolPortlet.
****/
/*
.sat-text {
	background-color: #D2DE92;
}

.sat-text .portlet-topper {
	padding: 15px 15px 0;
}

.sat-text .portlet-title {
	color: #758816;
}

.sat-text .portlet-content {
	padding:0 15px;
}

.sat-text .portlet-content p {
	color: #353F02;
}

.sat-text,
.sat-map #legend_element {
	float: right;
	width: 269px;
}

.sat-map {
	width: 700px;
}

.sat-map #locations_element {
	height: 40px;
	margin-bottom: 10px;
	overflow: auto;
	width: 190px;
}

.sat-map #map_element {
	height: 350px;
	width: 670px;
}

.sat-map form {
	clear: both;
	float:right;
	margin-right: 25px;
}

.sat-map #risk-select {
	left: 345px;
	position: absolute;
	top: 0;
}

.sat-map #risk-select label {
	padding-right: 25px;
}

.sat-map #risk-select select {
	width: 175px;
}

.sat-map #sector-select {
	left: 345px;
	position: absolute;
	top: 30px;
}

.sat-map #sector-select label {
	padding-right: 3px;
}

.sat-map #sector-select select {
	width: 175px;
}

.sat-map #legend_element {
	background-color: #D2DE92;
	color: #353F02;
	display: none;
	margin: -151px -254px 0 0;
}

#legend-title {
	color: #758816;
	font-size: 14px;
	padding-left: 15px;
}

 adjustment of legend items
.sat-map #ext-comp-1002 {
	padding-left: 15px
}

.sat-map #ext-comp-1003 {
	/*display: none;
	clear: both;
	float: left;
	margin-bottom: 5px;
}

.sat-map #ext-comp-1004 {
	display: none;
	/*clear: both;
	float: left;
}

.sat-map #ext-comp-1005 {
	left: -151px;
}

.sat-map #ext-comp-1007 {
	left: -180px;
}

.sat-map #ext-comp-1009 {
	left: -65px;
}

.sat-map #ext-comp-1011 {
	left: -75px;
}

.sat-map #ext-comp-1005,
.sat-map #ext-comp-1007,
.sat-map #ext-comp-1009,
.sat-map #ext-comp-1011 {
	clear: both;
	float:right;
	margin-bottom: 10px;
	position:relative;
	top:2px;
}
