#csst_element {
   width: 968px; 
   height: 968px;
}

/* Setting font sizes for the different headings */

#csst_element .portlet-title {
	color: #666;
	font-size: 25px;
	font-style: normal;
	font-weight: bold;
	padding-right: 15px;
	text-decoration: none;
}

#csst-options .portlet-title,
#csst-legend .portlet-title {
	color: #333;
	font-size: 13px;
	line-height: 13px;
}

#csst-options .portlet-title {
	padding-bottom: 0;
}

#csst-grid .portlet-title {
	color: #333;
	font-size: 16px;
	padding-top: 20px;
}

.csst-grid-subheader {
	font-size: 13px;
	margin: 7px 0;
	padding-top: 0;
}

/* Fixes the input fields on IE */
#csst-locator input[type='text'],
#csst-options input[type='text'] {
	margin-top: 0;
	padding: 1px;
}

/* Locator and locator results window */
#locator-textfield {
	margin-right: 2px;
}

#locate-button {
	clear: none;
}

#locator-results,
#csst-search-results-similar,
#csst-search-results-dissimilar {
	border: 1px solid #DEDEDE;
}

/* Risks and sectors options */
.risk-sector-label {
	color: #333;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 4px;
	padding-top: 15px;
}

/* Legend */
#csst-legend tr {
	height: 35px;
}

.csst-legend-image {
	text-align: center;
}

.csst-legend-text {
	font-size: 10px;
	padding-left: 5px;
}

/* Search results */
#csst-grid {
	border-top: 2px solid #D7E3EF;
}

/* Help tooltip button */
#help-button {
	clear: none;
}

.x-help {
	background-image: url(images/help.png) !important;
}