#csst_element {
   width: 968px; 
   height: 968px;
}

/* Setting font sizes for the different headings */

#csst_element .portlet-title {
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

#csst-title-help .portlet-title {
	color: #02213D;
	font-style: italic;
	font-weight: normal;
	padding: 7px 10px 7px 0;
}

#csst-options .portlet-title,
#csst-legend .portlet-title {
	color: #0a81d4;
	font-size: 13px;
	line-height: 13px;
}

#csst-options .portlet-title {
	padding-bottom: 0;
}

#csst-grid .portlet-title {
	background: #ECECEC;
	color: #0a81d4;
	font-size: 16px;
	padding: 3px 0 5px 10px;
}

.csst-grid-subheader {
	font-size: 13px;
	margin: 7px 0;
	padding-top: 0;
}

/* Fixes the input fields on IE */
#csst-locator input[type='text'] {
	background: #EFEFEF;
	padding: 3px;
}

#csst-options input[type='text'] {
	margin-top: 0;
	padding: 1px;
}

/* Locator and locator results window */
#locator-textfield {

}

#locate-button .x-btn-tl, #locate-button .x-btn-tr, 
#locate-button .x-btn-tc, #locate-button .x-btn-ml, 
#locate-button .x-btn-mr, #locate-button .x-btn-mc, 
#locate-button .x-btn-bl, #locate-button .x-btn-br, 
#locate-button .x-btn-bc {
	background-image: none;
}

#locate-button {
	position: relative;
	top: -2px;
}

.x-search,
.x-search:hover {
	background: url(../images/search-icon-location.png) !important;
	border-color: transparent !important;
	color: transparent; 
	width: 23px !important; 
	height: 23px !important;
}

#locator-results,
#csst-search-results-similar,
#csst-search-results-dissimilar {
	border: 1px solid #DEDEDE;
}

/* Risks and sectors options 
#csst-options .x-panel-body,
#csst-legend .x-panel-body {
	background: #ECECEC;
}*/

.risk-sector-label {
	color: #333;
	display: block;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 4px;
	padding-top: 15px;
}

/* Legend */
#csst-legend tr {
	height: 35px;
}

.csst-legend-image {
	text-align: center;
}

.csst-legend-text {
	font-size: 10px;
	padding-left: 5px;
}

/* Search results */
#csst-grid {
	margin-top: 40px;
}

/* Help tooltip button */
#help-button {
	clear: none;
}

#help-button .x-btn-tl, #help-button .x-btn-tr, 
#help-button .x-btn-tc, #help-button .x-btn-ml, 
#help-button .x-btn-mr, #help-button .x-btn-mc, 
#help-button .x-btn-bl, #help-button .x-btn-br, 
#help-button .x-btn-bc {
	background-image: none;
}

.x-help {
	background-image: url(../images/help-icon.png) !important;
	width: 29px !important;
	height: 27px !important;
}