#case-studies-homepage-search-wrapper {
			background-color: #f0f0f0;
			height: 260px;
			position: relative;
			width: 95%;
		}

 #case-studies-homepage-search-wrapper .case-studies-homepage-search-header {
			background-color: #03305a;
			color: #fff;
			font-weight: bold;
			padding: .25em 5%;
			width: 90%;
		}

 #case-studies-homepage-search-wrapper dl {
 			margin: 0 0 -5px;
			padding: 2% 5%;
			width: 90%;
		}

 #case-studies-homepage-search-wrapper dl dt {
			margin: 0 0 .2em;
			padding: 0;
			float: left;
			clear: both;
		}

 #case-studies-homepage-search-wrapper dl dd {
			margin: 0 0 0.4em;
			padding: 0;
		}

 #case-studies-homepage-search-wrapper dl dd input {
			width: 98%;
		}

 #case-studies-homepage-search-wrapper dl dd select {
			width: 73%;
			height: 47px;
			float: right;
			margin-bottom: 5px;
		}

 #case-studies-homepage-search-wrapper dl dd .case-studies-homepage-button-green {
			float: right;
			position: relative;
			top: -8px;
		}

 #case-studies-homepage-search-wrapper .case-studies-homepage-search-footer {
    background-color: #B0C1D5;
    clear: both;
    display: block;
    padding: 0.5em 5%;
    text-align: right;
    bottom: 0;
    position: absolute;
    width: 90%;
}
		
		
.case-studies-homepage-clearing {
    clear: both;
    height: 0;
}

 #case-studies-homepage-search-wrapper .case-studies-homepage-search-footer a:link {
			color: #002b56;
			text-decoration: none;
		}

.case-studies-homepage-button-green {
			background: #c7d544;
			background: -moz-linear-gradient(top,  #c7d544 0%, #aebe20 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7d544), color-stop(100%,#aebe20));
			background: -webkit-linear-gradient(top,  #c7d544 0%,#aebe20 100%);
			background: -o-linear-gradient(top,  #c7d544 0%,#aebe20 100%);
			background: -ms-linear-gradient(top,  #c7d544 0%,#aebe20 100%);
			background: linear-gradient(to bottom,  #c7d544 0%,#aebe20 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7d544', endColorstr='#aebe20',GradientType=0 );
			border: 1px solid #a3af29;
			border-radius: 7px;
			-moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,.5);
			-webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,.5);
			box-shadow: inset 1px 1px 1px rgba(255,255,255,.5);
			color: #000;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			text-shadow: 1px 1px 1px #fff;
			padding: 5px 75px;
		}