.section_title{
    font-size: 1.1em;
    margin-bottom: 10px;
    height: 20px;
}

.prevnext{
    font-weight:bold;
    font-size:0.8em;
}

a.pageNum{
    background: #A6B597;
    border: none;
    color: white!important;
    text-decoration: none;
    font-weight: bold;
    font-size:0.9em;
    padding: 0 2px;
    min-width: 1em;
    text-align: center;
}

.currPageNum{
    background: #97B597;
    border: none;
    font-weight: bold;
    font-size:0.9em;
    padding: 0 2px;
    min-width: 1em;
    text-align: center;
}
